html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #EEEDE7;
    margin-bottom: 120px;
}

footer {
    background-color: #DCD2CC;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

.navbar, #navbar {
    background-color: #DCD2CC;
    padding-top: 10px;
    font-weight: 500;
    font-size: 1em;
}

.navbar a:hover {
    font-size: 120%;
  }

img {
    max-width: 70%;
    opacity: 0.7;
    flex: 1 1 120px;
}

p {
    text-align: justify;
    font-size: 1.2em;
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
}

#article {
    text-align: center;
    margin-top: 20px;
}

#articletext {
    text-align: center;
    align-self: center;
    margin-top: 20px;
    flex: 1 1 200px;
}

#textbox {
    color: #3A6A59;
    margin-left: 20px;
}

.btn {
    background-color: #D9E4EC;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #B5A4A3;
    font-size: 120%;
}

h2, h5, h1 {
    font-family: 'Playfair Display';
    font-weight: bold;
    margin-top: 20px;
    margin: 0 auto;
    max-width: 50%;
    text-align: center;
    align-self: center;
    padding-top: 10px;
}

h6 {
    margin: 20px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    background-color: #E7D2CC;
    min-width: 90%;
    margin: 0 auto;
    align-items: center;
    padding: 20px;
    height: auto;
}

#board {
    width: 95%;
}

.carousel {
    min-width: 90%;
    align-items: center;
    float: none;
    margin: 0 auto;
    padding-top: 20px;
}

.carousel-inner img {
    margin: auto;
  }